.cor-1 {
  background: linear-gradient(to right bottom, #edf1ff, #e1e8ff);
  color: #4f39f6;
}

.cor-2 {
  background: linear-gradient(to right bottom, #effdf3, #ddfce7);
  color: #00a63e;
}

.cor-3 {
  background: linear-gradient(to right bottom, #f9f4ff, #f3e9ff);
  color: #a734fa;
}

.cor-4 {
  background: linear-gradient(to right bottom, #fffbe9, #fff4ca);
  color: #e17100;
}

.cor-5 {
  background-color: #eff6ff;
  color: #512c94;
}

.container {
  background: linear-gradient(#eef5fe, #e0e7ff);
}
