.cor-1 {
  background-color: #fefbe9;
  &:hover {
    background-color: #fdf6d3;
  }
}

.cor-2 {
  background-color: #f9fbfc;
  &:hover {
    background-color: #eef7fa;
  }
}

.cor-3 {
  background-color: #fff8ec;
  &:hover {
    background-color: #fdf2c9;
  }
}
