<p-confirmdialog />
<header class="grid grid-cols-3 items-center p-4 absolute top-0 left-0 w-full gap-2 shadow-md bg-white">
  <p class="leading-none h-full flex items-center">Pontuação Total: <span class="font-bold pl-1"> {{score}}</span></p>
  <h3 class="font-bold text-3xl digitaco text-center cursor-pointer" routerLink="/home">DIGITAÇO</h3>
  <div class="pr-4 flex gap-2 justify-self-end">
    <p-button icon="pi pi-user" [rounded]="true" severity="secondary" [outlined]="true" [pTooltip]="(user$ | async)?.name" tooltipPosition="left" routerLink="/user-settings" />
    <p-button (click)="confirmLogout($event)" icon="pi pi-sign-out" [rounded]="true" severity="secondary" [outlined]="true" />
  </div>
</header>
