:host .gradient-1 {
  background: linear-gradient(to bottom right, #5d4ff9, #5547fa);
}

:host .gradient-2 {
  background: linear-gradient(to bottom right, #fa9400, #f9844a);
}

:host .gradient-3 {
  background: linear-gradient(to bottom right, #a332ff, #9926f0);
}

:host .gradient-4 {
  background: linear-gradient(to bottom right, #00a971, #00965a);
}
